# Database Configuration
DB_HOST=<SET_VALUE>
DB_PORT=<SET_VALUE>
DB_NAME=<SET_VALUE>
DB_USERNAME=<SET_VALUE>
DB_PASSWORD=<SET_VALUE>

# JWT Configuration
JWT_SECRET=<SET_VALUE>

# Stripe Configuration
STRIPE_SECRET_KEY=<SET_VALUE>
STRIPE_WEBHOOK_SECRET=<SET_VALUE>

# CORS origins e.g. https://yourdomain.com
EDTECH_CORS_ALLOWED_ORIGINS=<SET_VALUE>

# Port
PORT=<SET_VALUE>

# B2 Storage Configuration
B2_ENDPOINT=<SET_VALUE>
B2_BUCKET=<SET_VALUE>
B2_ACCESS_KEY=<SET_VALUE>
B2_SECRET_KEY=<SET_VALUE>
B2_REGION=<SET_VALUE>

# Media Storage Type (LOCAL or B2)
MEDIA_STORAGE_TYPE=<SET_VALUE>

# Email Configuration
EMAIL_PROVIDER=<SET_VALUE>
RESEND_API_KEY=<SET_VALUE>
EMAIL_FROM=<SET_VALUE>
